body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: -webkit-linear-gradient(25deg, #88E0EF, #5384B1, #3A5E8C, #213B62, #261A40, #52336D, #7C4293, #CA7AEB);
}

header {
    background: -webkit-linear-gradient(25deg, #88E0EF, #5384B1, #3A5E8C, #213B62, #261A40, #52336D, #7C4293, #CA7AEB);
    color: #fff;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 36px;
}

header button {
    background-color: transparent;
    border: none;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    margin: 0 10px;
}

#menu button {
    padding: 10px;
    background-color: #fff;
    button-size: 20px;
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
    padding-right: 100px;
    padding-left: 100px;
    color: #333;
}

nav ul {
    list-style-type: none;
    padding: 0;
    background: -webkit-linear-gradient(25deg, #88E0EF, #5384B1, #3A5E8C, #213B62, #261A40, #52336D, #7C4293, #CA7AEB);
    margin: 0;
    overflow: hidden;
}

nav ul li {
    float: left;
}

#menu {
    padding: 35px;
    background: -webkit-linear-gradient(25deg, #88E0EF, #5384B1, #3A5E8C, #213B62, #261A40, #52336D, #7C4293, #CA7AEB);
    margin-bottom: 20px;
    color: #333;
}

nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav ul li a:hover {
    background: -webkit-linear-gradient(25deg, #88E0EF, #5384B1, #3A5E8C, #213B62, #261A40, #52336D, #7C4293, #CA7AEB);
}

section {
    padding: 50px;
    background-color: #fff;
    margin-bottom: 20px;
    color: #333;
}

footer {
    background: -webkit-linear-gradient(25deg, #88E0EF, #5384B1, #3A5E8C, #213B62, #261A40, #52336D, #7C4293, #CA7AEB);
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}